.card {
    box-shadow: 2px 2px 10px 0px #666;
}

.bg-faded{
    background-color: rgba(0, 0, 0, 0.1);
}

.col-sm-3{
    padding: 5;
    align-items: center;
}

#customToolbar{
    margin : 0px;
    padding : 0px;
    color : #fff;
    background : #ccc;
}
